<h1>See what’s happening right now.</h1>

<%= link_to 'All Users', users_path %> |
<%= link_to 'All Hashtags', hashtags_path %>

<br>

<h3><%= link_to '+ Write a New Tweet', new_tweet_path %></h3>

<%= form_tag "/", method: "GET" do %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
<% end %>

<br>

<%= render 'list' %>